@import url('https://fonts.googleapis.com/css?family=Poppins:400,700');

body {
  display: flex;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: #070c24;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
}

.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 900px;
  height: 600px;
  background: #fff;
  margin: 20px;
}

.container .imgBx {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}