@charset "utf-8";

/* reset */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ul,
ol {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

em,
dfn,
i {
  font-style: normal;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: none;
}

input,
select {
  vertical-align: middle;
}

input {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

input[type="text"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type="text"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-results-button, input[type="search"]::-webkit-search-results-decoration {
  display: none;
}


/* mainTop */
#wrap {
  overflow: hidden;
  width: 1280px;
  margin: 0 auto;
}

.themeBigBanners {
  position: relative;
  width: 781px;
  height: 430px;
  margin: 0 auto;
}

.themeBigBanners .themeBigBannerList li {
  position: absolute;
  width: 100%;
  opacity: 0;
  z-index: 1;
}

.themeBigBanners .themeBigBannerList li.current {
  opacity: 1;
  z-index: 2;
}

.themeBigBanners .themeBigBannerList .themeBigBanner {
  width: 780px;
  margin: 0 auto;
}

.themeBigBanners .themeBigBannerList .themeBigBanner a {
  position: relative;
  display: block;
  width: 781px;
  height: 430px;
  overflow: hidden;
}

.themeBigBanners .themeBigBannerList .themeBigBanner a img {
  display: block;
  width: 781px;
  /* transform: translateX(200px) */
}

.themeBigBannerController {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.themeBigBannerController a {
  position: absolute;
  top: 163px;
  width: 60px;
  height: 60px;
  background: url("../images/img_bigBannerControl.png") no-repeat;
  text-indent: -9999px;
  z-index: 5;
}

.themeBigBannerController a.prev {
  left: 10px;
}

.themeBigBannerController a.next {
  right: 10px;
  background-position: -60px 0;
}

.themeBigBannerController a.prev:hover {
  background-position: 0 -60px;
}

.themeBigBannerController a.next:hover {
  background-position: -60px -60px;
}

.themeTabs {
  position: absolute;
  bottom: 0;
  z-index: 2;
  left: 0;
  right: 0;
  width: 1280px;
  margin: 0 auto;
}

.themeTabs .themeTab ul {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 781px;
  height: 45px;
  background: rgba(0, 0, 0, .6);
}

.themeTabs .themeTab ul:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background: #000;
  opacity: 1;
}

.themeTabs .themeTab ul li {
  position: relative;
  float: left;
  width: 130px;
  height: 45px;
}

.themeTabs .themeTab ul li:first-chlid {
  width: 131px;
}

.themeTabs .themeTab ul li a {
  display: block;
  padding-top: 13px;
  height: 32px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #fff;
}

.themeTabs .themeTab ul li a span {
  display: inline-block;
}

.themeTabs .themeTab ul li.current a span {
  border-bottom: 1px solid #fff;
}

.themeTabs .themeTabChildren {
  position: absolute;
  top: -81px;
  left: 0;
  right: 498px;
  height: 0;
  z-index: 2;
  opacity: 0;
  transition: opacity ease .5s;
}

.themeTabs .themeTabChildren ul {
  width: 100%;
}

.themeTabs .themeTabChildren ul:after {
  content: "";
  clear: both;
  display: block;
}

.themeTabs .themeTabChildren ul:after {
  content: "";
  display: block;
  clear: both;
}

.themeTabs .themeTabChildren ul li {
  float: left;
  display: none;
}

.themeTabs .themeTabChildren ul li.current {
  display: block;
}

.themeTabs:hover .themeTabChildren {
  opacity: 1;
  z-index: 6;
}

.themeTabs .themeTabChildren ul.ea6 > li.tab2 {
  margin-left: 113px;
}

.themeTabs .themeTabChildren ul.ea6 > li.tab3 {
  margin-left: 226px;
}

.themeTabs .themeTabChildren ul.ea6 > li.tab4 {
  margin-left: 339px;
}

.themeTabs .themeTabChildren ul.ea6 > li.tab5 {
  float: right;
  margin-right: 113px;
}

.themeTabs .themeTabChildren ul.ea6 > li.tab6 {
  float: right;
  margin-right: 0;
}

.themeTabs .themeTabChildren ol {
  font-size: 0;
  letter-spacing: 0;
  line-height: 0;
}

.themeTabs .themeTabChildren ol li {
  display: inline-block;
}

.themeTabs .themeTabChildren ol li a {
  position: relative;
  display: block;
  background: rgba(0, 0, 0, .8);
  width: 36px;
  height: 36px;
  font-size: 14px;
  line-height: 36px;
  text-align: center;
  color: #fff;
}

.themeTabs .themeTabChildren ol li.current a {
  background: #bfa36e;
}

.tabChildCounter {
  position: absolute;
  top: -416px;
  right: 515px;
  color: #fff;
  font-size: 12px;
  font-weight: 300;
}

.tabChildCounter span {
  color: #fff;
  font-size: 12px;
  font-weight: 300;
  text-shadow: 1px 1px rgba(0, 0, 0, .3);
}

.tabChildCounter span.currentNum:after {
  content: "/";
  display: inline-block;
  margin: 0 2px;
}
